.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: background-color 1.5s ;
    background-color: black;
  }
  
  .navbar.active {
    background-color: rgba(6, 248, 66, 0.7);
  }
  
  .logo {
    color: #ea1717;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links li a {
    color: #bb0606;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-links li a:hover {
    color: #0625f1;
  }
  